<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web para Pruebas</title>
<!-- link de fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!-- link de iconos -->    
    <script src="https://kit.fontawesome.com/a3d21d027a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header class="header-style">
        <h1 class="contenedor-h1">
            <div class="size-h1 a-center img-left"><img class="img-logo-size" src="/images/logo-mercado-liebre.svg" alt="Logo Principal"></div>
            <div class="size-h1 a-center div-nav">
                <form action="" method="post" class="form-style">
                    <label></label>
                    <input class="input-styele" type="text" name="busqueda" placeholder="Buscar productos, marcas y más">
                </form>
                <i class="fa-solid fa-magnifying-glass glass-style" style="color: #000000;"></i>
            </div>
            <div class="size-h1v2 a-center"><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Comprar en cuotas y sin tarjeta de credito</div>
        </h1>
        <div class="burger-menu a-center">
            <a href="#" target="" id="abrir"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></a>
        </div>
        <nav class="nav-contenedor" id="nav">
            <ul class="ul-style">
                <li><a href="#" target="_blank">Ofertas</a></li>
                <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
                <li><a href="#" target="_blank">Vender</a></li>
                <li><a href="#" target="_blank">Ayuda</a></li>
            </ul>

            <ul class="ul-style a-rigth-flex">
                <li><a href="/crear-cuenta" target="_blank">Creá tu cuenta <i class="fa-regular fa-id-card i-color"></i></a></li>
                <li><a href="#" id="" onclick="mostrar();">Ingresá <i class="fa-solid fa-right-to-bracket i-color"></i></a></li>
                <li><a href="#" target="_blank">Mis compras <i class="fa-solid fa-basket-shopping i-color"></i></a></li>
                <li class="cerrar-hamburguesa"><a href="#" target="" id="cerrar">Cerrar <i class="fa-solid fa-xmark" style="color: #ffffff;"></i></a></li>
            </ul> 
                       
        </nav>      
        <div class="login-section" id="ingresar">
            <form action="" method="post" class="form-register-login">            
                <div class="text-div--login">                    
                    <input class="text-input" type="text" name="usuari@" id="usuari@" placeholder="" required><span class="barra"></span>
                    <label class="text-label" for="usuari@">Usuaria/o</label>
                </div>
                <div class="text-div--login">                    
                    <input class="text-input" type="password" name="contraseña" placeholder="" required><span class="barra"></span>
                    <label class="text-label" for="contraseña">Contraseña</label>
                </div>
                <div class="buttom-div">
                    <a href="/" target="_self">
                        <button type="button">Enviar</button>
                    </a>
                    <button id="" type="button" onclick="ocultar();">No ingresar</button>
                </div>            
            </form>
        </div> 
    </header>
    <div>
        <img class="banner-size" src="/images/img-home-banner.jpg" alt="banner">
    </div>
    <main>        
        <h3 class="text-size24 a-center">Basado en tu última visita</h3>
        <section class="contenedor-section">
            <article class="box1">
                <img class="img-size" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <section class="top-border">
                    <div class="price-desc-flex"> 
                        <i class="fa-solid fa-truck product-delivery-icon" style="color: #39b54a;"></i>               
                        <p class="text-size18">$6.770</p>
                        <p class="text-size16">40% off</p>
                    </div>
                    <h5 class="tex-products">Cafetera Moulinex</h5>
                </section>
            </article>
            <article class="box1">
                <img class="img-size" src="/images/img-macbook-pro-2019.jpg" alt="McBook">
                <section class="top-border">
                    <div class="price-desc-flex"> 
                        <i class="fa-solid fa-truck product-delivery-icon" style="color: #39b54a;"></i>               
                        <p class="text-size18">$230.000</p>
                        <p class="text-size16">20% off</p>
                    </div>
                    <h5 class="tex-products">MacBook Pro 2019</h5>
                </section>
            </article>
            <article class="box1">
                <img class="img-size" src="/images/img-samsung-galaxy-s10.jpg" alt="SamsungG10">
                <section class="top-border">
                    <div class="price-desc-flex"> 
                        <i class="fa-solid fa-truck product-delivery-icon" style="color: #39b54a;"></i>               
                        <p class="text-size18">$70.500</p>
                        <p class="text-size16">10% off</p>
                    </div>
                    <h5 class="tex-products">Samsung Galaxy S10</h5>
                </section>
            </article>
            <article class="box1">
                <img class="img-size" src="/images/img-tv-samsung-smart.jpg" alt="Smart-TV">
                <section class="top-border">
                    <div class="price-desc-flex"> 
                        <i class="fa-solid fa-truck product-delivery-icon" style="color: #39b54a;"></i>               
                        <p class="text-size18">$23.200</p>
                        <p class="text-size16">5% off</p>
                    </div>
                    <h5 class="tex-products">SmartTv Samsung 43"</h5>
                </section>
            </article>
        </section>
        <h3 class="text-size24 a-center">Ofertas</h3>
        <section class="contenedor-section">
            <article class="box1">
                <img class="img-size" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <section class="top-border">
                    <div class="price-desc-flex"> 
                        <i class="fa-solid fa-truck product-delivery-icon" style="color: #39b54a;"></i>               
                        <p class="text-size18">$6.770</p>
                        <p class="text-size16">40% off</p>
                    </div>
                    <h5 class="tex-products">Cafetera Moulinex</h5>
                </section>
            </article>
            <article class="box1">
                <img class="img-size" src="/images/img-macbook-pro-2019.jpg" alt="McBook">
                <section class="top-border">
                    <div class="price-desc-flex"> 
                        <i class="fa-solid fa-truck product-delivery-icon" style="color: #39b54a;"></i>               
                        <p class="text-size18">$230.000</p>
                        <p class="text-size16">20% off</p>
                    </div>
                    <h5 class="tex-products">MacBook Pro 2019</h5>
                </section>
            </article>
            <article class="box1">
                <img class="img-size" src="/images/img-samsung-galaxy-s10.jpg" alt="SamsungG10">
                <section class="top-border">
                    <div class="price-desc-flex"> 
                        <i class="fa-solid fa-truck product-delivery-icon" style="color: #39b54a;"></i>               
                        <p class="text-size18">$70.500</p>
                        <p class="text-size16">10% off</p>
                    </div>
                    <h5 class="tex-products">Samsung Galaxy S10</h5>
                </section>
            </article>
            <article class="box1">
                <img class="img-size" src="/images/img-tv-samsung-smart.jpg" alt="Smart-TV">
                <section class="top-border">
                    <div class="price-desc-flex"> 
                        <i class="fa-solid fa-truck product-delivery-icon" style="color: #39b54a;"></i>               
                        <p class="text-size18">$23.200</p>
                        <p class="text-size16">5% off</p>
                    </div>
                    <h5 class="tex-products">SmartTv Samsung 43"</h5>
                </section>
            </article>
        </section>
    </main>
    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    <script src="/js/show.js"></script>
</body>
</html>