<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web para Pruebas</title>
<!-- link de fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!-- link de iconos -->    
    <script src="https://kit.fontawesome.com/a3d21d027a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header class="header-style">
        <h1 class="contenedor-h1">
            <div class="size-h1 a-center"><img src="/images/logo-mercado-liebre.svg" alt="Logo prueba"></div>
            <div class="size-h1 a-center"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i> Barra de busqueda</div>
            <div class="size-h1v2 a-center"><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Comprar en cuotas</div>
        </h1>
        <nav class="nav-contenedor">
            <ul class="ul-style">
                <li><a href="#" target="_blank">Ofertas</a></li>
                <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
                <li><a href="#" target="_blank">Vender</a></li>
                <li><a href="#" target="_blank">Ayuda</a></li>
            </ul>

            <ul class="ul-style a-rigth-flex">
                <li class="r-center"><a href="#" target="_blank">Creá tu cuenta <i class="fa-regular fa-id-card" style="color: #000000;"></i></a></li>
                <li><a href="#" target="_blank">Ingresá <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></a></li>
                <li><a href="#" target="_blank">Mis compras <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu a-center">
            <a href="#" target="_blank"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></a>
        </div> 
    </header>
    <main>
        <div>
            <img class="banner-size" src="/images/img-home-banner.jpg" alt="banner">
        </div>
        <h3 class="text-size24 a-center">Basado en tu última visita</h3>
        <section class="contenedor-section">
            <article class="box1">
                <img class="img-size" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">                
                <p class="text-size18">$6.770</p>
                <p class="text-size16">40% OFF</p>
                <p class="text-size16">Cafetera Moulinex</p>
            </article>
            <article class="box1">
                <img class="img-size" src="/images/img-macbook-pro-2019.jpg" alt="McBook">
                <p>$230.000</p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article class="box1">
                <img class="img-size" src="/images/img-samsung-galaxy-s10.jpg" alt="SamsungG10">
                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article class="box1">
                <img class="img-size" src="/images/img-tv-samsung-smart.jpg" alt="Smart-TV">
                <p class="text-size18">$23.200</p>
                <p class="text-size16">5% off</p>
                <p class="text-size16">SmartTv Samsung 43"</p>
            </article>
        </section>
        <h3 class="text-size24 a-center">Ofertas</h3>
        <section class="contenedor-section">
            <article class="box1">Box1</article>
            <article class="box1">Box2</article>
            <article class="box1">Box3</article>
            <article class="box1">Box4</article>
        </section>
    </main>
    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    
</body>
</html>