<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <main>
        <button class="show-trans" id="" onclick="mostrar();">ingresar

        </button>

        <div class="login-section" id="ingresar">
            <form action="" method="post" class="">            
                <div class="">
                    <label for="usuari@"></label>
                    <input type="text" name="usuari@" id="usuari@" placeholder="Usuaria/o" required>
                </div>
                <div>
                    <label for="contraseña"></label>
                    <input type="password" name="contraseña" placeholder="Contraseña" required>
                </div>
                <div>
                    <a href="/" target="_self">
                        <button type="button">Enviar</button>
                    </a>
                    <button id="" type="button" onclick="ocultar();">No ingresar</button>
                </div>            
            </form>
        </div>
        <div class="burger-menu a-center">
            <a href="#" target=""><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></a>
        </div>
        <nav class="nav-contenedor">
            <ul class="ul-style">
                <li><a href="#" target="_blank">Ofertas</a></li>
                <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
                <li><a href="#" target="_blank">Vender</a></li>
                <li><a href="#" target="_blank">Ayuda</a></li>
            </ul>

            <ul class="ul-style a-rigth-flex">
                <li><a href="/crear-cuenta" target="_blank">Creá tu cuenta <i class="fa-regular fa-id-card" style="color: #000000;"></i></a></li>
                <li><a href="#" id="" onclick="mostrar();">Ingresá <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></a></li>
                <li><a href="#" target="_blank">Mis compras <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></a></li>
            </ul>            
        </nav>


    </main>
    <script src="/js/validar.js"></script>
</body>
</html>