body{
    background-color: #ebebeb;
}
main{
    width: 90vw;
    margin: auto;
}
.header-style{
    background-color: #EAC926;
    padding: 10px;
}
.a-center{
    text-align: center;
}
.a-rigth-flex{
    justify-content: right;
}
.text-size24{
    font-size: 24px;
    color: #666;
}
.text-size18{
    font-size: 18px;
    width: 30%;
}
.text-size16{
    font-size: 16px;
    width: 70%;
    color: #39b54a;
}
.contenedor-h1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.img-logo-size{
    height: 100%;
}
.size-h1{
    width: 50%;
    min-width: 100px;
}
.size-h1v2{
    width: 100%;
    min-width: 100px;
}
.form-style{
    display: inline;
}
.input-styele{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #EAC926;
}
.div-nav{
    position: relative;
}
.glass-style{
    position: absolute;
    right: 5%;
    top: 10px;
    background-color: white;    
}
.nav-contenedor{
    width: 100%;
    display: none;
    position: relative;
    background: rgba(	3, 38, 76, 0.9);
    padding: 10px 20px;
    border-radius: 5px;   
}

.nav-contenedor.visible{
    display: flex;
}


.ul-style{
    list-style: none;
    display: block;
    width: 50%; 
    padding: 0px;
    
}
.ul-style li{
    padding: 5px 0px;
}

.ul-style a{
    text-decoration: none;
    color: white;
}

.burger-menu{
    background-color: #03264C;
    max-width: 30px;
    padding: 7px 0;
    border-radius: 4px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-size{
    display: flex;
    width: 100%;
    height: 100%;
}
.contenedor-section{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box1{
    background-color: white;
    width: auto;
    height: auto; 
    margin: 5px;
    
}
.box1:hover .tex-products{      
    visibility: visible;
    /*height: 10vh;*/
    opacity: 1;
}
.tex-products{
    font-size: 16px;
    font-weight: normal;
    opacity: 0;
    color: #666;
    margin: 15px 0px 0px 0px;   
    visibility: hidden; 
    /*height: 0;*/
    transition: height 0.5s, opacity 1s ;
}
.img-size{
    width: 100%;
}
.top-border{
   border-top: 1px solid #ebebeb;
   padding: 15px;
   position: relative
}
.product-delivery-icon{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;    
}
.product-delivery-icon:hover{
    transition: 1s;
    background-color: #ebebeb;
    transform: rotate(-90deg);
}

.price-desc-flex{
    display: flex;
    width: 100%;
    padding: 0px 0px;
}

.footer-style{
    background: white;
    margin: 15px 5px;
    padding: 5px;
    color: #03264C;
}
.footer-article{
    color: #03264C;
    margin: 50px 15px;
}
.footer-article h4{
    font-size: 16px;
}
.footer-icon{
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-icon i:hover{
    color: #EAC926;

}
.footer-icon i{
    font-size: 2em;
    color: #1259c3;
    margin: 0px 0px 10px 0px;    
}


/*ESTILO DEL REGISTRO-----------------------------------------------------------*/

.body-register{
    background-color: #ebebeb;
}

:root{
    --colorTextos: #49454567; 
}

.register-header{
    background-color: #EAC926;
    padding: 10px;
    text-align: center;
    
}
.register-logo{
    max-width: 400px;
}

.main-register{
   margin: 30px auto;
   max-width: 400px;
   
}
.register-tittle{
    font-size: 25px;
    padding: 10px;
    color: #03264C;
    text-decoration: underline;
}

.form-register{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(234, 201, 38);
    border-radius: 5px;
    width: 100%;
    
}
.text-div{
    position: relative;
    margin: 35px 15px;
}
.text-input{
    display: block;
    border: none;
    padding: 10px 10px 10px 5px;
    width: 100%;
    border-bottom: 1px solid var(--colorTextos);
}
.text-input:focus{
    outline: none;
    color: #666;
}
.text-label{
    color: #03264C;
    transition: 0.5s ease-in-out all;
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
}
.text-input:focus~.text-label, input:valid~.text-label{
    top: -20px;
    font-size: 10px;
    color: #03264C;
    font-weight: bold;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: "";
    height: 3px;
    width: 0%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #EAC926, #666);
    transition: 0.3s ease width;
    left: 0;    
}
.text-input:focus~.barra::before{
    width: 100%;
}

.register-div{
    display: flex;
    justify-content: space-around;  
    margin: 35px 0px;  
}
.register-art{
    margin: 35px 15px;
}
.register-art div{
    margin: 15px;
}
.register-photo{
    margin: 35px 15px;
}
.register-photo input{
    padding: 15px 0px;
}
.buttom-div{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.buttom-div button{
    background-color: #EAC926;
    padding: 5px;
    border-radius: 5px;
    color: #03264C;
    font-weight: bold;
    font-size: 15px;
}
.buttom-div button:hover{
    color: #ebebeb;
    font-size: 17px;
    background: linear-gradient(to right, #EAC926, #03264C);
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding: 20px 0px 20px 0px;
}


/*ESTILO DEL LOGIN-----------------------------------------------------------*/

.login-section{
    display: none;
    background: #ebebeb;
    margin: 10px 0px;
    padding: 10px;
}

.form-register-login{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(234, 201, 38);
    border-radius: 5px;
    width: 100%;
    padding: 30px 5px;
}
.text-div--login{
    position: relative;
    margin: 10px 10px;
    padding: 20px 0px;
}





@media(min-width: 520px){
    .size-h1{
        width: 33.3%;
        min-width: 180px;
    }
    .size-h1v2{
        width: 33.3%;
        min-width: 180px;
    }
    .img-logo-size{
        padding: 0px 10px 0px 0px;
        margin: 15px;
    }
    .nav-contenedor{
        display: flex;
        margin-top: 50px;
        background:#EAC926;
        padding: 0px;
    }
    .ul-style{
        list-style: none;
        display: flex;
        width: 50%; 
        padding: 0px;                 
    }
     
    .ul-style li{
        margin: 0 10px;
    }
    .ul-style a{
        color: #222222;
    }
    .i-color{
        color: #222222;
    }
    .cerrar-hamburguesa{
        display: none;
    }
    .contenedor-section{
        justify-content: space-around;
    }
    .box1{
        width: 40%;
        height: auto;
        margin: 0px;
          
        margin: 10px 10px 10px 10px;    
    }
    .box1:hover {
        box-shadow : 0px 0px 10px rgb(100, 100, 100);
    }


    .text-size16{
        text-align: center;    
    }
    .burger-menu{
        display: none;
    }
    
    .text-size24{
        text-align: left;
        margin: 15px 0px 25px 25px;
    }
}

@media(min-width: 920px){
    .img-logo-size{
        padding: 0px 0px 0px 0px;
        margin: 10px 25px 0px 5px;
        max-width: 200px;
    }
    .img-left{
        text-align: left;
    }

    .box1{
        width: 22%;
        height: auto;
        margin: 0px;
        margin: 0px 5px 0px 5px;
    }
    .footer-style{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-article{
        width: 25%;
    }
    .footer-style p{
        width: 100%;
    }



}